button {
    margin: 30px;
    padding: 15px;
    font-size: 16px;
}

pre {
    max-width: 90%;
    max-height: 400px;
    overflow: auto;
    white-space: pre-wrap;
    background: rgba(0,0,0,0.1);
    border-radius: 6px;
}