.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;

    img {
        margin: 0 16px;
    }

    a {
        text-decoration: none;
        color: #fff;
        opacity: 0.75;

        &.active {
            opacity: 1;
        }
    }
    
    #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }
    
    #twitter-logo:hover {
        opacity: 0.8;
    }
}