<div class="maze">
    <div *ngFor="let layer of model; index as layerIndex;" class="maze__layer">
        <div *ngFor="let row of layer; index as rowIndex;" class="maze__row">
            <div *ngFor="let cell of row; index as cellIndex"
                [class]="{'maze__cell': true, 'is-water': cell === 0 || cell === null && layerIndex === waterLevel, 'is-grass': cell === 1, 'is-sand': cell === 2, 'is-bridge': cell === 3, 'has-left-pane': hasLeftPane(row, cell, cellIndex), 'has-right-pane': hasRightPane(layer, cell, rowIndex, cellIndex)}"
                [style]="{zIndex: layerIndex + '' + rowIndex + '' + (100 - cellIndex), top: layerIndex * -layerHeight + 'px', left: layerIndex * layerHeight + 'px', visibility: cell === null && layerIndex !== waterLevel ? 'hidden' : 'inherit'}"
            >
                <div class="player" *ngIf="!isEditorActive && isPlayerHere(layerIndex, rowIndex, cellIndex)"></div>
                <div class="cursor" [class]="{'is-water': selectedSurface === 0, 'is-grass': selectedSurface === 1, 'is-sand': selectedSurface === 2, 'is-bridge': selectedSurface === 3}" *ngIf="isEditorActive && isCursorHere(layerIndex, rowIndex, cellIndex)"></div>
            </div>
        </div>
    </div>
</div>