$cellSize: 70px;
$cellHeight: $cellSize / 2;
$bridgeWidth: 10px;

$border: 1px solid rgba(0, 0, 0, 0.1);
$boxShadowBorder: inset -1px 1px 0px rgba(0, 0, 0, 0.15);

$waterColor: #006fd2;
$grassColor: #8fca85;
$sandColor: #cabf85;
$bridgeColor: #826565;

$paneLeftColor: #96a76f;
$paneRightColor: #a79c6f;
$bridgePaneLeftColor: #756263;
$bridgePaneRightColor: #6f5758;

$playerWidth: 30px;

* {
    box-sizing: border-box;
}

.maze {
    position: relative;
    width: #{8 * $cellSize};
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    margin: 220px 0 0 -400px;

    &__layer {
        position: absolute;
        left: 0;
        top: 0;
    }

    &__row {
        display: flex;
    }

    &__cell {
        position: relative;
        width: $cellSize;
        height: $cellSize;
        box-shadow: $boxShadowBorder;

        &.has-left-pane:before {
            content: '';
            position: absolute;
            display: block;
            top: $cellSize / 4;
            left: - $cellSize / 2;
            z-index: -2;
            width: $cellHeight;
            height: $cellSize;
            transform: skewY(-45deg);
            background: $paneLeftColor;
            box-shadow: $boxShadowBorder;
        }

        &.has-right-pane:after {
            content: '';
            position: absolute;
            display: block;
            top: $cellSize;
            left: - $cellSize / 4;
            z-index: -1;
            width: $cellSize;
            height: $cellHeight;
            transform: skewX(-45deg);
            background: $paneRightColor;
            box-shadow: $boxShadowBorder;
        }

        &.is-water {
            box-shadow: none;

            &:before,
            &:after {
                opacity: 0.9;
                background: $waterColor;
                box-shadow: none;
            }
        }
    }
}

.is-water {
    opacity: 0.5;
    background: $waterColor;
}

.is-grass {
    background: $grassColor;
}

.is-sand {
    background: $sandColor;
}

.is-bridge {
    background: $bridgeColor;

    &:before {
        width: #{$bridgeWidth} !important;
        left: - #{$bridgeWidth} !important;
        top: #{$bridgeWidth / 2} !important;
        background: $bridgePaneLeftColor !important;
    }

    &:after {
        height: #{$bridgeWidth} !important;
        left: - #{$bridgeWidth / 2} !important;
        background: $bridgePaneRightColor !important;
    }
}

.player {
    position: absolute;
    z-index: 1000000;
    width: $playerWidth;
    height: $playerWidth * 2;
    margin: $cellSize / 2 - $playerWidth / 2;
    border-radius: 50%;
    background: blue;
    transition: 0.2s all ease-out;
    transform: translate(25%, -35%) rotateZ(45deg) ;
}

.cursor {
    position: absolute;
    z-index: 1000000;
    width: 100%;
    height: 100%;
    border: 3px dashed #fff;
    transition: 0.2s all ease-out;
}